# Environment
.env

# Python
__pycache__/
*.pyc
.venv
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Database
*.db
*.sqlite3
postgres_data/

# Logs
*.log